/* général */
@import url(https://fr.allfont.net/allfont.css?fonts=walt-disney-script);
*{
    margin: 0;
    padding: 0;
}

/* .bgRed {
    background-color: red;
} */
.bgBlue {
    background-color: #3DBBC9;
}

.machinChoice {
    margin-top: 80px;



}

.textGameResult {
    margin-top: 80px;
    margin-left: 80px;
    font-size: 20px;

}



.castle {
    display :flex;
    flex-direction: column;
    align-items: space-around;
}

body{
    font-family: 'Walt Disney Script', arial;
    text-transform: uppercase;
}
/* header avec navbar */
header {
    display: none;
}

nav {
    font-size:2em;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding:0 20px;
    position: sticky;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #fff;
    font-size: 2.1em;
}

nav .endGame {
    max-height: 50px;
}

/* modal règle du jeu */
#gameRule {
    display: none;
}

dialog {
    background-color: #ffffff;
    text-align: center;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.25);
    max-width: 90vw;
    margin-left: 35%;
    margin-top:120px;
}


/* enter name */


.bgColorName{
    width: 100vw;
    height: 100vh;
    background-color:#3DBBC9;
    

}
.gameName{
    text-align: center;
    display:flex;
    position: absolute;
    color: #ffffff;
    padding-left: 310px;
    font-size: 40px;
    padding-top: 5px;
}
.castle{
    background-image: url('../img/Château.jpg');
    height:100%;
    display: flex;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    justify-content: right;
    align-items: center;
}
.mickeyHead{
    
    opacity: 60%;
    height:50%;
    margin-right: 90px;
} 

.yourPseudo{
    
    flex-direction: column;
    display: flex;
    margin-right: 200px;
    position: absolute;
    color: #ffffff;
}
.yourPseudo>label{
    margin-top: 10px;
    border-radius: 5px;
}
.yourPseudo>button{
    margin-top: 5px;
    border-radius: 5px;


}



/* affichage propositions de combat */
#game {
    height:90vh;
    color: #fff;
    display: none;
}

#game .bgImgMirror {
    background-image: url('../img/miror-2.png');
    background-position: center center;
    background-size: contain;
    background-repeat:no-repeat;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#game .lineHands {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

#game .textWelcome {
    font-size:1.5em;
    animation: fadein 3s; 
    
}


.bgCastle {
    background-image: url(../img/Chateau.jpg);
    width:100%;
    max-height: auto;


}

.computerears, .playerears {
    max-width: 50px;

}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
}

@media screen and (max-width: 768px) {
    .mickeyHead{
        display: none;
    }


    .yourPseudo {
        justify-content: center;
    }
    
    #game .lineHands {
        flex-direction: row;
        align-items: center;
        padding-top: 30px;
    }
    #game .imgHands {
        max-width:70px;
    }

    #game .bgImgMirror {
        height: 60vh;
    }
    #game .textWelcome {
        font-size:1em;
    }
}

/* affichage du résulat du match */

#resultGame {
    height:100vh;
    color: #fff;
    display: none;
}
.bgCloud{
    background-image: url('../img/lampe-nuage.png');
    background-position: center center;
    background-size: contain;
    background-repeat:no-repeat;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:space-between;
    
}


#resultGame .lineHands {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

/* #resultGame .bgCloud {
    font-size:1.5em;
    animation: fadein 3s; 
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
} */

@media screen and (max-width: 768px) {
    #resultGame .lineHands {
        flex-direction: row;
        align-items: center;
        padding-top: 30px;
    }
    .imgHands {
        max-width:70px;
    }

    #resultGame .bgCloud {
        height: 65vh;
    }
 
    
}


/* tu as gagné ! */
#win {
    height:90vh;
    color: #fff;
    display: none;
}
.bgWin{
    background-image: url('../img/gagne.png');
    background-position: center center;
    background-size: contain;
    background-repeat:no-repeat;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}


#win .lineHands {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}



@media screen and (max-width: 768px) {
    #win .lineHands {
        flex-direction: row;
        align-items: center;
        padding-top: 30px;
    }
    .imgHands {
        max-width:70px;
    }

    #win .bgwin {
        height: 65vh;
    }
    
}



/* tu as perdu */
#lose {
    height:90vh;
    color: #fff;
    display: none;
}
.bgLose{
    background-image: url('../img/perdu.png');
    background-position: center center;
    background-size: contain;
    background-repeat:no-repeat;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}


#lose .lineHands {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}



@media screen and (max-width: 768px) {
    #lose .lineHands {
        flex-direction: row;
        align-items: center;
        padding-top: 30px;
    }
    .imgHands {
        max-width:70px;
    }

    #lose .bgLose {
        height: 65vh;
    }
    
}


/* match nul */
#equality {
    height:90vh;
    color: #fff;
    display: none;
}
.bgEquality{
    background-image: url('../img/egalite.png');
    background-position: center center;
    background-size: contain;
    background-repeat:no-repeat;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}


#equality .lineHands {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}



@media screen and (max-width: 768px) {
    #equality .lineHands {
        flex-direction: row;
        align-items: center;
        padding-top: 30px;
    }
    .imgHands {
        max-width:70px;
    }

    #equality .bgEquality {
        height: 65vh;
    }
    
}


/* score final */

.bgCastle{
    background-image: url('../img/Chateau.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat:no-repeat;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
